.footer
    width: 100%
    background-color: #c9db75
    padding-top: 150px
.container-footer
    @include container-content
.container-footer-contact-us
    font-size: 0
    padding-bottom: 95px
.container-footer-contact-us-info
    @include display-inline-top
    width: 35%
    padding-right: 11%
.container-footer-contact-us-form
    @include display-inline-top
    width: 65%
    padding-right: 10%
    position: relative
    .box-input
        position: relative
    .input-box
        width: 100%
        margin-bottom: 33px
        font-family: FuturaBook
        font-size: 1.25rem
        color: #75706b
        padding: 34px 20px 12px 20px
        position: relative
        z-index: 510
        transition: all 0.3s ease
        box-shadow: 1px 4px 17px -8px #000000
    .form-label .input-label
        position: absolute
        z-index: 520
        margin-top: 25px
        color: #75706b
        transition: all 0.3s ease
        padding-left: 20px
        font-family: FuturaBook
        font-size: 1.25rem
        pointer-events: none
        width: 100%
    .form-label .label-focus
        padding-top: 13px
        margin-top: 0
        font-size: 0.9rem
        color: #ada7a1
        background-color: white
        padding-bottom: 8px
    .textarea-box
        border: none
        resize: none
        height: 103px

.contact-us-info_title
    color: white
    position: relative
    padding-bottom: 45px
    margin-bottom: 40px
    &:after
        content: ""
        position: absolute
        width: 70px
        height: 4px
        background-color: white
        left: 0
        bottom: 0
.contact-us-info_txt-q
    font-family: FuturaBook
    font-size: 1.25rem
    color: white
    letter-spacing: -1px
    line-height: 1.4
    margin-bottom: 30px
.contact-us-info_tel
    font-family: FuturaRegular
    font-size: 1.25rem
    font-weight: bold
    color: white
    margin-bottom: 20px
.contact-us-info_email
    font-family: FuturaBook
    font-size: 1.25rem
    color: white
    letter-spacing: -1px
    position: relative
    line-height: 1.6
    display: inherit
    transition: all .3s ease-in-out
    &:after
        content: ''
        position: absolute
        width: 100%
        height: 1px
        background-color: white
        bottom: 0
        left: 0
        transition: all .3s ease-in-out
.contact-us-info_email:hover
    transition: all .3s ease-in-out
    color: #95a259
    &:after
        transition: all .3s ease-in-out
        height: 0
.box-addfile-btn
    width: 100%
    font-size: 0
.box-add-file
    @include display-inline-top
    width: 50%
.box-btn-send
    @include display-inline-top
    width: 50%
    .btn-gray
        float: right
.btn-gray
    color: white
    background-color: #75706b
    &:hover
        background-color: #57534e
.container-footer-menu
    width: 100%
    font-size: 0
    position: relative
    .container-footer-menu_img-block
        width: 35%
        @include display-inline-top
        position: relative
    .container-footer-menu_nav
        width: 65%
        @include display-inline-top
        padding-top: 107px
.containerimg-footer-menu_img-block-scroll
    position: absolute
    width: 350px
    top: 0
    left: -150px
    img
        width: 100%
.container-footer-menu_nav-list
    margin-bottom: 160px
    li
        margin-bottom: 30px
        a
            font-family: FuturaMedium
            font-size: 48px
            color: white
            letter-spacing: 1.9px
            transition: all .3s ease-out
            &:hover
                color: #95a259
        .active
            color: #95a259
.container-footer-dev
    width: 100%
    position: relative
    margin-bottom: 130px
    .container-footer-dev_txt
        font-family: FuturaBook
        font-size: 1.25rem
        color: white
    .container-footer-dev_link
        font-family: FuturaBook
        font-size: 1.25rem
        color: white
        position: absolute
        top: 0
        right: -21%
        a
            color: white
            border-bottom: 1px solid white
            padding-bottom: 5px
            transition: all .3s ease-out
            &:hover
                color: #95a259
                border-bottom: transparent
.container-footer-scroll-top
    width: 100%
    position: relative
    margin-bottom: 60px
    .btn-scroll-top
        width: 75px
        height: 75px
        background-image: url("../img/btn-scroll-top.png")
        background-repeat: no-repeat
        background-size: cover
        background-position: top center
        cursor: pointer
        &:hover
            background-position: bottom center