.footer
    width: 100%
    background-color: #c9db75
    overflow: hidden
    padding-top: 190px
.container-footer
    @include container-content
.container-footer-contact-us
    font-size: 0
    padding-bottom: 25px
.container-footer-contact-us-info
    @include display-inline-top
    width: 34.5%
    padding-right: 10%
    padding-top: 50px
.container-footer-contact-us-form
    @include display-inline-top
    width: 65%
    padding-right: 10%
    position: relative
    .box-input
        position: relative
    .input-box
        width: 100%
        margin-bottom: 33px
        font-family: FuturaBook
        font-size: 1.25rem
        color: #75706b
        padding: 34px 20px 12px 20px
        position: relative
        z-index: 510
        transition: all 0.3s ease
        box-shadow: 1px 4px 17px -12px #000000
    .form-label .input-label
        position: absolute
        z-index: 520
        margin-top: 25px
        color: #75706b
        transition: all 0.3s ease
        padding-left: 20px
        font-family: FuturaBook
        font-size: 1.25rem
        pointer-events: none
        width: 100%
    .form-label .label-focus
        padding-top: 13px
        margin-top: 0
        font-size: 0.9rem
        color: #ada7a1
        background-color: white
        padding-bottom: 8px
    .textarea-box
        border: none
        resize: none
        height: 103px

.contact-us-info_title
    color: white
    position: relative
    padding-bottom: 45px
    margin-bottom: 40px
    &:after
        content: ""
        position: absolute
        width: 70px
        height: 4px
        background-color: white
        left: 0
        bottom: 0
.contact-us-info_txt-q
    font-family: FuturaBook
    font-size: 1.2rem
    color: white
    letter-spacing: 0.3px
    line-height: 1.4
    margin-bottom: 30px
.contact-us-info_tel
    font-family: FuturaRegular
    font-size: 1.25rem
    font-weight: bold
    color: white
    margin-bottom: 20px
    .link-tel
        display: block
        color: white
.contact-us-info_email
    font-family: FuturaBook
    font-size: 1.2rem
    color: white
    letter-spacing: 0.5px
    position: relative
    line-height: 1.6
    text-decoration: none
    transition: all .3s ease-in-out
    display: inline-block
    &:after
        display: block
        content: ""
        height: 1px
        width: 100%
        background-color: white
        transition: width .4s ease-in-out
        margin-top: 0px
    &:hover:after, &:focus:after
        width: 0%
.contact-us-info_email:hover
    transition: all .3s ease-in-out
    color: #95a259
    &:after
        transition: all .3s ease-in-out
        height: 0
.box-addfile-btn
    width: 100%
    font-size: 0
.box-add-file
    @include display-inline-middle
    width: 50%
.box-btn-send
    @include display-inline-middle
    width: 50%
    .btn-gray
        float: right
.btn-gray
    color: white
    background-color: #75706b
    &:hover
        background-color: #57534e
.container-footer-menu
    width: 100%
    font-size: 0
    position: relative
    .container-footer-menu_img-block
        width: 34.5%
        @include display-inline-top
        position: relative
    .container-footer-menu_nav
        width: 65%
        @include display-inline-top
        padding-top: 107px
.containerimg-footer-menu_img-block-scroll
    position: absolute
    width: 350px
    top: 0
    left: -150px
    img
        width: 100%
.container-footer-menu_nav-list
    margin-bottom: 160px
    li
        margin-bottom: 30px
        a
            font-family: FuturaMedium
            font-size: 48px
            color: white
            letter-spacing: 1.9px
            transition: all .3s ease-out
            &:hover
                color: #95a259
        .active
            color: #95a259
.container-footer-dev
    width: 100%
    position: relative
    margin-bottom: 30px
    .container-footer-dev_txt
        font-family: FuturaBook
        font-size: 1.25rem
        color: white
    .container-footer-dev_link
        font-family: FuturaBook
        font-size: 1.25rem
        color: white
        position: absolute
        top: 0
        right: -21%
        cursor: pointer
        &:hover
            span:after, span:after
                width: 0%
            span
                color: #95a259
        span
            color: white
            padding-bottom: 5px
            transition: all .4s ease-out
            display: inline-block
            &:after
                display: block
                content: ""
                height: 1px
                width: 100%
                background-color: white
                transition: width .4s ease-in-out
                margin-top: 0
.container-footer-scroll-top
    width: 100%
    position: relative
    margin-bottom: 60px
    height: 75px
    .box-scroll
        transition: all .6s ease-in-out
        margin-top: 150px
        display: inline-block
    .btn-scroll-top
        width: 75px
        height: 75px
        background-image: url("../img/btn-scroll-top.png")
        background-repeat: no-repeat
        background-size: cover
        background-position: top center
        cursor: pointer
        &:hover
            background-position: bottom center
    .box-scroll.show-scroll-top
        margin-top: 0
.dz-message
    cursor: pointer
    .txt-def-mes
        font-family: FuturaBook
        font-size: 20px
        transition: all .3s ease-in-out
        display: inline-block
        color: white
        &:after
            display: block
            content: ""
            height: 2px
            width: 100%
            background-color: #fff
            -webkit-transition: width .3s ease-in-out
            transition: width .3s ease-in-out
            margin-top: 2px
.dz-message:hover .txt-def-mes
    color: #95a259
    text-decoration: none
.dz-message:hover .fill-add-file
    fill: #95a259
.dz-message:hover .txt-def-mes:after
    width: 0
.img-none
    display: none
.dz-details
    display: inline-block
    vertical-align: middle
    .dz-filename
        font-family: FuturaBook
        font-size: 20px
        transition: all .3s ease-in-out
        display: inline-block
        color: white
        cursor: pointer
        &:after
            display: block
            content: ""
            height: 2px
            width: 100%
            background-color: #fff
            -webkit-transition: width .3s ease-in-out
            transition: width .3s ease-in-out
            margin-top: 2px
    .dz-filename:hover
        color: #95a259
        text-decoration: none
    .dz-filename:hover:after
        width: 0
.txt-def-mes
    display: inline-block
    vertical-align: middle
.dz-image-preview
    padding-left: 30px
    width: 60%
    margin-bottom: 10px
.dz-remove
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" version="1.1" height="15px" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><g><path fill="#FFFFFF" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/></g></svg>')
    width: 15px
    height: 15px
    display: inline-block
    vertical-align: middle
    margin-left: 10px
    &:hover
        background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" version="1.1" height="15px" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><g><path fill="#95a259" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/></g></svg>')
