footer.footer
    .container-footer
        .container-footer-contact-us
            .container-footer-contact-us-info
                h2.contact-us-info_title Cooperate <br> with us
                .contact-us-info_txt-q Here you can leave your request or to ask any question and we'll contact you.
                .contact-us-info_tel +371 6 616 55 07
                a(href='mailto:ops@himbalt.lv').contact-us-info_email ops@himbalt.lv
            .container-footer-contact-us-form
                //form.js-form
                //    input(type='text').input-box
                //    label.input-label Full name*
                //
                //    input(type='tel').input-box
                //    label.input-label Full name*
                //
                //    input(type='email').input-box
                //    label.input-label Full name*
        .container-footer-menu
