footer.footer#containerForm
    .container-footer
        .container-footer-contact-us
            .container-footer-contact-us-info.parallax(data-speed='22')
                h2.contact-us-info_title Cooperate <br> with us
                .contact-us-info_txt-q Here you can leave your request or to ask any question and we'll contact you.
                .contact-us-info_tel +371 6 616 55 07
                a(href='mailto:ops@himbalt.lv').contact-us-info_email ops@himbalt.lv
            .container-footer-contact-us-form.parallax(data-speed='8')
                form.js-form
                    .box-input
                        .form-label
                            label.input-label Full name*
                        .form-input
                            input(type='text').input-box
                    .box-input
                        .form-label
                            label.input-label Phone number*
                        .form-input
                            input(type='tel').input-box
                    .box-input
                        .form-label
                            label.input-label E-mail*
                        .form-input
                            input(type='email').input-box
                    .box-input
                        .form-label
                            label.input-label Message*
                        .form-input
                            textarea(type='text').input-box.textarea-box
                    .box-addfile-btn
                        .box-addfile-btn_container
                            .box-add-file
                            .box-btn-send
                                button.btn.btn-gray Send request
        .container-footer-menu
            .container-footer-menu_img-block
                .containerimg-footer-menu_img-block-scroll
                    img(src='img/img-footer.png')
            .container-footer-menu_nav
                ul.container-footer-menu_nav-list.parallax(data-speed='15')
                    li
                        a(href='#').link-footer Portfolio
                    li
                        a(href='#').link-footer.active Manufacture
                    li
                        a(href='#').link-footer News
                    li
                        a(href='#').link-footer Contacts
                .container-footer-dev.parallax(data-speed='27')
                    .container-footer-dev_txt &#169;2017, Moёbel
                    .container-footer-dev_link Developed by <a href="#">FLEX MEDIA</a>
                .container-footer-scroll-top
                    .btn-scroll-top
