footer.footer
    .container-footer
        .container-footer-contact-us
            .container-footer-contact-us-info
                h2.contact-us-info_title Cooperate <br> with us
                .contact-us-info_txt-q Here you can leave your request or to ask any question and we'll contact you.
            .container-footer-contact-us-form
        .container-footer-menu
