.company-header-logo
    a.company-header-logo_link(href='#')
        img(src='img/logo.png')
.anchor-feedback-header
    a.anchor-feedback-header_link.anchor-touch(href='#containerForm')
        img(src='img/footer-link-form.png')
.container-header-parallax
    .container-language-selection
        a.container-language-selection_link(href='#').active En
        span -
        a.container-language-selection_link(href='#') De
    .container-contact-header
        .container-contact-header_label Get in touch
        .container-contact-header_tel +371 6 616 55 07
        a.container-contact-header_email(href='mailto:ops@moebel.global') ops@moebel.global
    nav.container-header-nav
        ul
            li
                a.container-header-nav_link(href='#').active Portfolio
            li
                a.container-header-nav_link(href='#') Manufacture
            li
                a.container-header-nav_link(href='#') News
            li
                a.container-header-nav_link(href='#') Contacts

