.company-header-logo
    a.company-header-logo_link(href='#')
        .icon-logo
            <svg width="354" height="95.5" xmlns="http://www.w3.org/2000/svg" viewBox="160 0 50 100">
            <g>
            <g id="svg_1">
            <polygon class="fill" points="58.5,23.2 58.4,23.2 58.4,23.4 38.1,55.2 18,23.2 17.6,23.2 12.1,23.2 0,23.2 0,94.6 17.6,94.6    17.6,55.5 38.1,87.6 58.4,56.2 58.4,94.6 75.9,94.6 75.9,23.2 64.4,23.2"/>
            <path class="fill" d="m108.4,13c3.6,0 6.5,-2.9 6.5,-6.5c0,-3.6 -2.9,-6.5 -6.5,-6.5c-3.6,0 -6.5,2.9 -6.5,6.5c0,3.6 3,6.5 6.5,6.5z"/>
            <path class="fill" d="m106.1,26.6c-17.8,9.7 -24.3,32 -14.6,49.8c6.7,12.2 19.3,19.1 32.2,19.1c0.4,0 0.9,0 0.9,0l44.6,0l0,-20.7l-12.6,0c0.9,-1.9 1.7,-3.9 2.3,-5.9l10.3,0l0,-20.7l-10.4,0c-0.6,-1.8 -1.3,-3.6 -2.2,-5.4l12.6,0l0,-20.8l-47.4,0.1c-5.3,0.3 -10.7,1.7 -15.7,4.5zm59.4,25.4l0,13.1l-3.7,0c0.7,-4.3 0.7,-8.8 -0.1,-13.1l3.8,0zm-8.6,26.6l8.6,0l0,13.1l-21.3,0c5.2,-3.3 9.6,-7.8 12.7,-13.1zm8.6,-52.8l0,13.2l-8.8,0c-3.3,-5.5 -7.9,-9.9 -13.3,-13.1l22.1,0l0,-0.1zm-37,0.4l0,14.3l22.5,0c0.5,0.8 1.1,1.6 1.5,2.4c1.3,2.3 2.2,4.7 2.8,7.1l-3.8,0l0,0l-23.1,0l0,17l27,0c-0.9,3.3 -2.2,6.6 -4.1,9.5l-22.9,0l0,10.6l0,4.2l0,0c-1.6,0.2 -3.2,0.4 -4.7,0.4c-12.1,0 -23.1,-6.6 -28.9,-17.1c-4.2,-7.7 -5.2,-16.6 -2.7,-25c2.5,-8.4 8.1,-15.4 15.8,-19.6c4.8,-2.6 10.3,-4 15.8,-4c1.6,-0.2 3.2,0 4.8,0.2z"/>
            <path class="fill" d="m139,13c3.6,0 6.5,-2.9 6.5,-6.5c0,-3.6 -2.9,-6.5 -6.5,-6.5c-3.6,0 -6.5,2.9 -6.5,6.5c0,3.6 2.9,6.5 6.5,6.5z"/>
            <path class="fill" d="m223.8,56.4c4.1,-2.9 6.2,-8.4 6.2,-13c0,-12.2 -10,-20.2 -22.3,-20.2l-23.3,0l0,71.5l24.6,0c12.3,0 22.4,-10 22.4,-22.4c0,-4.7 -2.6,-12.5 -7.6,-15.9zm-22.2,-16.1l5.9,0c2.8,0.1 5,2.1 5,4.8c0,2.5 -2.3,4.6 -4.7,4.8l-6.2,0l0,-9.6zm7.4,37l-7.4,0l0,-9.6l7.7,0c3.1,0 4.7,2.3 4.7,4.9c0,2.7 -2.2,4.7 -5,4.7z"/>
            <polygon class="fill" points="327,77.3 327,23.1 309.6,23.1 309.6,94.6 354,94.6 354,77.3"/>
            <polygon class="fill" points="247.6,94.6 290.8,94.6 290.8,77.3 265.1,77.3 265.1,67.5 286,67.5 286,50.2 265.1,50.2 265.1,40.5    290.8,40.5 290.8,23.1 247.6,23.1"/>
            </g>
            </g>
            </svg>
.anchor-feedback-header
    a.anchor-feedback-header_link.anchor-touch(href='#containerForm')
        .icon-mail
            <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 60 60">

            <g>
            <title>Layer 1</title>
            <path class="feedback-fill-circle" stroke="null" fill-rule="evenodd" clip-rule="evenodd" d="m30.18089,0.22787c16.36184,0 29.62143,13.37359 29.62143,29.87609c0,16.5025 -13.25959,29.87609 -29.62143,29.87609c-16.36184,0 -29.62143,-13.37359 -29.62143,-29.87609c-0.00715,-16.49529 13.25959,-29.87609 29.62143,-29.87609z"/>
            <path class="feedback-fill-mail" stroke="null" d="m39.88606,39.50733l-19.85261,0c-1.29618,0 -2.34518,-1.0737 -2.34518,-2.38668l0,-13.87217c0,-1.31911 1.05503,-2.38668 2.34518,-2.38668l19.85261,0c1.29618,0 2.34518,1.0737 2.34518,2.38668l0,13.86603c0.00603,1.31911 -1.049,2.39281 -2.34518,2.39281zm-19.85261,-17.59636c-0.72345,0 -1.31426,0.60127 -1.31426,1.33752l0,13.86603c0,0.73625 0.59082,1.33752 1.31426,1.33752l19.85261,0c0.72345,0 1.31426,-0.60127 1.31426,-1.33752l0,-13.86603c0,-0.73625 -0.59082,-1.33752 -1.31426,-1.33752l-19.85261,0zm18.00179,13.71878c-0.1266,0 -0.25321,-0.04908 -0.3557,-0.14111l-4.87724,-4.65678l-2.32709,2.30692c-0.19895,0.19633 -0.51244,0.19633 -0.71139,0.00614l-2.62853,-2.50938l-4.87724,4.84084c-0.20498,0.20247 -0.53053,0.19633 -0.72948,-0.01227c-0.19895,-0.2086 -0.19292,-0.53992 0.01206,-0.74238l4.84107,-4.80403l-4.84107,-4.6261c-0.20498,-0.19633 -0.21703,-0.53378 -0.02411,-0.74238s0.5245,-0.22087 0.72948,-0.02454l7.86749,7.51588l7.554,-7.50361c0.20498,-0.20247 0.53053,-0.19633 0.72948,0.01227c0.19895,0.2086 0.19292,0.53992 -0.01206,0.74238l-4.84107,4.80403l4.84107,4.6261c0.20498,0.19633 0.21703,0.53378 0.02411,0.74238c-0.09646,0.11044 -0.23512,0.16566 -0.37378,0.16566z"/>
            </g>
            </svg>
.container-header-parallax
    .block-header
        .header-parallax
            .container-language-selection
                a.container-language-selection_link(href='#').active En
                span &#8212;
                a.container-language-selection_link(href='#') De
            .container-contact-header
                .container-contact-header_label Get in touch
                .container-contact-header_tel
                    a.link-tel(href='tel:+371 6 616 55 07') +371 6 616 55 07
                a.container-contact-header_email(href='mailto:ops@moebel.global') ops@moebel.global
            nav.container-header-nav
                ul
                    li
                        a.container-header-nav_link(href='#').active Portfolio
                    li
                        a.container-header-nav_link(href='about.html') Manufacture
                    li
                        a.container-header-nav_link(href='#') News
                    li
                        a.container-header-nav_link(href='map.html') Contacts

