.container-overflow

.container-popup-news(data-news='1')
    .container-wrapper-popup-news
        .brn-close-popup
            img(src='img/btn-close.png')
        .main-wrapper-popup-news
            .content-popup-news
                .popup-news-data 21.02.2017
                h2.popup-news-title from 15 to 24 March we participate in the international exhibition in Cologne
                .content-popup-news_img-txt
                    .content-popup-news_img
                        img(src='img/news/news2.png')
                    .content-popup-news_txt
                        h4.content-popup-news_txt-title Our chests of drawers are distinctive and very convenient: its spacious linen boxes are equipped with reliable full extension guides. Such a construction makes it possible to find any small item even in the deep of the box.
                        h5.content-popup-news_txt-txt Our chests of drawers are distinctive and very convenient: its spacious linen boxes are equipped with reliable full extension guides. Such a construction makes it possible to find any small item even in the deep of the box. A light oak tint creates an atmosphere of order and tranquility in the room.
                .wrapper-slider-news
                    .swiper-slider-news
                        .swiper-wrapper
                            .swiper-slide
                                img(src='img/news/news7.jpg' alt='')
                            .swiper-slide
                                img(src='img/news/news7.jpg' alt='')
                            .swiper-slide
                                img(src='img/news/news7.jpg' alt='')
                        .swiper-button-next.hoverBtn
                        .swiper-button-prev.hoverBtn
                .container-next-news
                    a.next-news-link(href='#') Next news
        .container-btn-news
            .btn-prev-news
                img(src='img/btn-prev-news.png' alt='')
            .btn-next-news
                img(src='img/btn-next-news.png' alt='')


.container-popup-news(data-news='2')
    .container-wrapper-popup-news
        .brn-close-popup
            img(src='img/btn-close.png')
        .main-wrapper-popup-news
            .content-popup-news
                .popup-news-data 21.02.2017
                h2.popup-news-title 2from 15 to 24 March we participate in the international exhibition in Cologne
                .content-popup-news_img-txt
                    .content-popup-news_img
                        img(src='img/news/news2.png')
                    .content-popup-news_txt
                        h4.content-popup-news_txt-title Our chests of drawers are distinctive and very convenient: its spacious linen boxes are equipped with reliable full extension guides. Such a construction makes it possible to find any small item even in the deep of the box.
                        h5.content-popup-news_txt-txt Our chests of drawers are distinctive and very convenient: its spacious linen boxes are equipped with reliable full extension guides. Such a construction makes it possible to find any small item even in the deep of the box. A light oak tint creates an atmosphere of order and tranquility in the room.
                .wrapper-slider-news
                    .swiper-slider-news
                        .swiper-wrapper
                            .swiper-slide
                                img(src='img/news/news7.jpg' alt='')
                            .swiper-slide
                                img(src='img/news/news7.jpg' alt='')
                            .swiper-slide
                                img(src='img/news/news7.jpg' alt='')
                        .swiper-button-next.hoverBtn
                        .swiper-button-prev.hoverBtn
                .container-next-news
                    a.next-news-link(href='#') Next news
        .container-btn-news
            .btn-prev-news
                img(src='img/btn-prev-news.png' alt='')
            .btn-next-news
                img(src='img/btn-next-news.png' alt='')

.container-popup-news(data-news='3')
    .container-wrapper-popup-news
        .brn-close-popup
            img(src='img/btn-close.png')
        .main-wrapper-popup-news
            .content-popup-news
                .popup-news-data 21.02.2017
                h2.popup-news-title 3from 15 to 24 March we participate in the international exhibition in Cologne
                .content-popup-news_img-txt
                    .content-popup-news_img
                        img(src='img/news/news2.png')
                    .content-popup-news_txt
                        h4.content-popup-news_txt-title Our chests of drawers are distinctive and very convenient: its spacious linen boxes are equipped with reliable full extension guides. Such a construction makes it possible to find any small item even in the deep of the box.
                        h5.content-popup-news_txt-txt Our chests of drawers are distinctive and very convenient: its spacious linen boxes are equipped with reliable full extension guides. Such a construction makes it possible to find any small item even in the deep of the box. A light oak tint creates an atmosphere of order and tranquility in the room.
                .wrapper-slider-news
                    .swiper-slider-news
                        .swiper-wrapper
                            .swiper-slide
                                img(src='img/news/news7.jpg' alt='')
                            .swiper-slide
                                img(src='img/news/news7.jpg' alt='')
                            .swiper-slide
                                img(src='img/news/news7.jpg' alt='')
                        .swiper-button-next.hoverBtn
                        .swiper-button-prev.hoverBtn
                .container-next-news
                    a.next-news-link(href='#') Next news
        .container-btn-news
            .btn-prev-news
                img(src='img/btn-prev-news.png' alt='')
            .btn-next-news
                img(src='img/btn-next-news.png' alt='')