.container-popup-portfolio
    .container-wrapper-popup-portfolio
        .brn-close-popup
            img(src='img/btn-close.png')
        .main-wrapper-popup-portfolio
            .content-popup-portfolio
                .wrapper-popup-portfolio-title-txt
                    h2.container-popup-portfolio_title Commode <br> scandi
                    h5.container-popup-portfolio_txt Our chests of drawers are distinctive and very convenient: its spacious linen boxes are equipped with reliable full extension guides. Such a construction makes it possible to find any small item even in the deep of the box. A light oak tint creates an atmosphere of order and tranquility in the room.
                    .container-popup-portfolio-img
                        .container-popup-portfolio-img_list
                            img(src='img/product/img10.jpg' alt='')
                        .container-popup-portfolio-img_list
                            img(src='img/product/img11.jpg' alt='')
                        .container-popup-portfolio-img_list
                            img(src='img/product/img12.jpg' alt='')
                    .container-popup-portfolio-collection
                        .container-popup-portfolio-collection_title
                            h3 The entire collection of Scandi
                        a(href='#').container-popup-portfolio-collection_product
                            .container-popup-portfolio-collection-img
                                img.container-popup-portfolio-collection_img(src='img/product/img13.jpg' alt='')
                            .container-popup-portfolio-collection_txt
                                .container-popup-portfolio-collection_txt-prod commode
                                .container-popup-portfolio-collection_txt-link Scandi
                        a(href='#').container-popup-portfolio-collection_product
                            .container-popup-portfolio-collection-img
                                img.container-popup-portfolio-collection_img(src='img/product/img14.jpg' alt='')
                            .container-popup-portfolio-collection_txt
                                .container-popup-portfolio-collection_txt-prod cabinet furniture
                                .container-popup-portfolio-collection_txt-link Scandi

