extends _layout

block title
    title Blog
block content
    .container-wrapper
        .container-wrapper-contant.parallax(data-speed='5')
            .container-wrapper-contant_bread-crumbs <a href="index.html"> Home </a>  −  404
        .container-wrapper-404
            .container-wrapper-404_mouse
            .container-wrapper-404_txt
                .container-wrapper-404_txt-sorry Sorry, this page was not found!
                .container-wrapper-404_txt-link-home
                    a(href='index.html') Back to home