extends _layout

block title
    title Blog
block content
    .container-wrapper
        .container-wrapper-contant.parallax(data-speed='5')
            .container-wrapper-contant_bread-crumbs Home  −  Manufacture
            h1.wrapper-title.parallax(data-speed='7') Manufacture
            .container-company-started
                .container-company-started_img.parallax(data-speed='3')
                    img(src='img/manufacture/img-1.png')
                .container-company-started_title.parallax(data-speed='9')
                    .company-started_title-year 2007
                    h4.company-started_title Our company started its production in 2007. <br> The use of advanced technologies in production <br> allows maintaining competitiveness and demand <br> for products.
        .container-wrapper-what-did.parallax(data-speed='6')
            .container-wrapper-what-did-list
                .container-wrapper-what-did-list_box.revealator-zoomin
                    .content-what-did-list_box-icon
                        img(src='img/manufacture/icon-1.png' alt='')
                    .content-what-did-list_box-txt All furniture is made only from solid beech and oak
                .container-wrapper-what-did-list_box.revealator-zoomin.revealator-delay2
                    .content-what-did-list_box-icon
                        img(src='img/manufacture/icon-2.png' alt='')
                    .content-what-did-list_box-txt For 2 years we have released 500 trucks
                .container-wrapper-what-did-list_box.revealator-zoomin.revealator-delay4
                    .content-what-did-list_box-icon
                        img(src='img/manufacture/icon-3.png' alt='')
                    .content-what-did-list_box-txt Our range includes over 250 different models of furniture
                .container-wrapper-what-did-list_box.revealator-zoomin.revealator-delay6
                    .content-what-did-list_box-icon
                        img(src='img/manufacture/icon-4.png' alt='')
                    .content-what-did-list_box-txt All equipment in our factory robotized
        .container-wrapper-about
            .container-wrapper-about_title.parallax(data-speed='12')
                h2.wrapper-about_title About <br> company
                h4.wrapper-about_title-txt Our range includes over 250 different models of furniture. Our company is flexible, so we can produce the furniture according to your sketches. Are you looking for modern design and reliability, combined with the practicality and environ-mental performance? This is exactly what we offer!
            .container-wrapper-about_video-img.parallax(data-speed='7')
                .wrapper-about_video-img
                    img(src='img/manufacture/img2.png' alt='')
        .container-wrapper-stages-production
            h2.wrapper-stages-production_title Stages of production
            .container-wrapper-stages-production_content
                .wrapper-stages-production_content-image
                    .box-img
                        img(src='img/manufacture/img4.png' alt='')
                    .box-img_title &#8212; Particular attention is paid to connecting nodes
                .wrapper-stages-production_content-txt
                    .wrapper-stages-production_list.revealator-slideleft
                        .wrapper-stages-production_list-number-title
                            .wrapper-stages-production_list_number 01
                            .wrapper-stages-production_list_title drawing
                        .wrapper-stages-production_list-txt
                            p To get started on the surface of the material used all the parts are distributed, provided the design, then there is sawing the material on a special high-performance machine. Modern equipment provides for the scoring saw that provides cutting frequency and, as a conse-quence, the complete elimination of chipping and scuffing.
                    .wrapper-stages-production_list.revealator-slideleft.revealator-delay2
                        .wrapper-stages-production_list-number-title
                            .wrapper-stages-production_list_number 02
                            .wrapper-stages-production_list_title Level of production
                        .wrapper-stages-production_list-txt
                            p From the details that have been pre-prepared, at this stage, the assembly of components. Then complete units will be assembled into a whole product. At this stage it is important to adherence of the whole sequence of operations performed. And only in this case, maintaining the strict furniture assembly technology, it will guaran-tee high quality of finished products.
                    .wrapper-stages-production_list.revealator-slideleft.revealator-delay4
                        .wrapper-stages-production_list-number-title
                            .wrapper-stages-production_list_number 03
                            .wrapper-stages-production_list_title Fittings
                        .wrapper-stages-production_list-txt
                            p Our employees perform the packaging of furniture quickly and professionally. If you prefer to pack your own, we will deliver in advance everything you need (for a few hours or days before the arrival and early movers moving).
                    .wrapper-stages-production_list.revealator-slideleft.revealator-delay6
                        .wrapper-stages-production_list-number-title
                            .wrapper-stages-production_list_number 04
                            .wrapper-stages-production_list_title packaging
                        .wrapper-stages-production_list-txt
                            p Our employees perform the packaging of furniture quickly and professionally. If you prefer to pack your own, we will deliver in advance everything you need (for a few hours or days before the arrival and early movers moving).



