extends _layout

block title
    title Blog
block content
    .container-main-thumbs
        .container-main-thumbs_parallax-text
            h1.container-main-thumbs_parallax-text_title We manufacture and supply <br> high quality solid oak <br> furniture
            h3.container-main-thumbs_parallax-text_description For medium <br> and large <br> retailers
    .container-parallax-img
        img.container-parallax-img_bg(src='img/home-img.png')
    .container-main-thumbs-t
        .container-main-thumbs-t_parallax
            h2.container-main-thumbs-t_parallax_title We share the warmth <br> of wood
            .container-main-thumbs-t_brief-information
                .container-main-thumbs-t_row-8
                    h3.container-main-thumbs-t_title We are flexible and we can produce furniture in accordance to you drawings
                    .container-main-thumbs-t_image-product
                        img(src='img/product/img1.jpg' alt='')
                    .container-main-thumbs-t_image-title - Products in bedroom and provides a long-term life-time.
                .container-main-thumbs-t_row-4
                    h4.container-main-thumbs-t_title-1 Are you looking for modern design and reliability in combination with practicality and eco friendliness? That is exactly what we offer.
                    h5.container-main-thumbs-t_title-2 100% solid oak guarantees the maximal eco friendliness of our products in bedroom and provides a long-term life-time.
                    .container-main-thumbs-t_logo-comp
                        ul
                            li
                                img.logo-comp-img(src='img/logo-comp1.png')
                            li
                                img.logo-comp-img(src='img/logo-comp2.png')
                    a.link(href='#') About company
            .container-companions
                h4.container-companions_txt Our strong technological base and high quality of our products are provided by highly productive equipment of worldwide well-known companies
                .container-companions_logo-comp
                    ul
                        li.container-companions_logo-comp_list
                            img(src='img/companions/img1.png').container-companions_logo-comp_img
                        li.container-companions_logo-comp_list
                            img(src='img/companions/img2.png').container-companions_logo-comp_img
                        li.container-companions_logo-comp_list
                            img(src='img/companions/img3.png').container-companions_logo-comp_img
                        li.container-companions_logo-comp_list
                            img(src='img/companions/img4.png').container-companions_logo-comp_img
                        li.container-companions_logo-comp_list
                            img(src='img/companions/img1.png').container-companions_logo-comp_img
    .container-design-home
        .container-design-home-bg
        .container-design-home-sidebar
            h2.container-design-home-sidebar_title HigH quality design
            .container-design-home-sidebar_line
            p.container-design-home-sidebar_p Attention to detail and technical capabilities allow you to do incredible things
            a.link(href='#') Explore examples
            .btn.btn-green make an order
        .container-design-home-list
            .container-design-home-list_box
                .container-design-home_work
                    .container-design-home_work-img
                        img(src='img/product/img2.jpg')
                .container-design-home_work
                    .container-design-home_work-img
                        img(src='img/product/img3.jpg')
            .container-design-home-list_box
                .container-design-home_work
                    .container-design-home_work-img
                        img(src='img/product/img3.jpg')
                .container-design-home_work
                    .container-design-home_work-img
                        img(src='img/product/img2.jpg')
            .container-design-home-list_box
                .container-design-home_work
                    .container-design-home_work-img
                        img(src='img/product/img2.jpg')
                .container-design-home_work
                    .container-design-home_work-img
                        img(src='img/product/img3.jpg')
    .container-home-work
        .container-home-work_content
            h2.container-home-work_content-title Working with <br> us is easy
            .container-home-work_content-list
                .container-home-work_content-list_box
                    .content-list_box-icon
                        img(src='img/working/img1.png' alt='')
                    .content-list_box-txt Filing an application
                .container-home-work_content-list_box
                    .content-list_box-icon
                        img(src='img/working/img2.png' alt='')
                    .content-list_box-txt drawing Revision
                .container-home-work_content-list_box
                    .content-list_box-icon
                        img(src='img/working/img3.png' alt='')
                    .content-list_box-txt Approval drawing
                .container-home-work_content-list_box
                    .content-list_box-icon
                        img(src='img/working/img4.png' alt='')
                    .content-list_box-txt Production of models
                .container-home-work_content-list_box
                    .content-list_box-icon
                        img(src='img/working/img5.png' alt='')
                    .content-list_box-txt Loading in transport customer
                .container-home-work_content-list_box
                    .content-list_box-icon
                        img(src='img/working/img6.png' alt='')
                    .content-list_box-txt Pleasure and long use
    .container-home-news
        .container-home-news_title
            h2.container-home-news_title-txt News
        .container-news_content
            .container-news_content-box
                .container-news_content-list
                    a(href='#').container-link-news
                        .container-link-news_img
                            img(src='img/news/news1.png' alt='')
                        .container-link-news_content
                            .container-link-news_content_data 02/02/2017
                            .container-link-news_content_txt
                                h3.container-link-news_content-title We have launched a new collection of furniture.
                                h5.container-link-news_content-txt 100% solid oak guarantees the maximal eco friendliness of our products in bedroom
                .container-news_content-list
                    a(href='#').container-link-news
                        .container-link-news_img
                            img(src='img/news/news1.png' alt='')
                        .container-link-news_content
                            .container-link-news_content_data 02/02/2017
                            .container-link-news_content_txt
                                h3.container-link-news_content-title We have launched a new collection of furniture.
                                h5.container-link-news_content-txt 100% solid oak guarantees the maximal eco friendliness of our products in bedroom










