extends _layout

block title
    title Blog
block content
    .container-map-site
        .container-map-site-contant
            ul
                li
                    a(href='index.html') Главная страница
                li
                    a(href='about.html') Manufacture страница
                li
                    a(href='map.html') Страница контактов