extends _layout

block title
    title Blog
block content
    .container-map
        .container-map-contant
            .container-map-contant_bread-crumbs Home  −  Contacts
            .block-map
                .container-map-contant_block-map#map
                .container-map-contant_block-map_contact
                    h1.block-map_contact-title contacts
                    .block-map_contact-adress Latvijas Republika, Riga, <br> Tvaika iela 35, LV-1034
                    .block-map_contact-tel +371 6 616 55 07
                    a.anchor-touch.block-map_contact-anchor(href='#containerForm') Get in touch
        .container-map-green-line
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDeIX-qPM-OiBUCqhMfrcfp9tPwQdTZtM")
            script(src="js/map.js")
