extends _layout

block title
    title Blog
block content
    main#barba-wrapper
        section.barba-container
            .container-wrapper
                .container-wrapper-contant.parallax(data-speed='5')
                    .container-wrapper-contant_bread-crumbs <a href="index.html"> Home </a>  −  Portfolio
                    h1.wrapper-title.parallax(data-speed='7') Portfolio
                    .container-wrapper-link-menu.parallax(data-speed='4')
                        .container-wrapper-link-menu_list
                            .box-link-menu_list
                                a.link-menu_list.active(href='#') all products
                            .box-link-menu_list
                                a.link-menu_list(href='#') Tables
                            .box-link-menu_list
                                a.link-menu_list(href='#') chairs
                            .box-link-menu_list
                                a.link-menu_list(href='#') cupboard
                        .container-wrapper-link-menu_list
                            .box-link-menu_list
                                a.link-menu_list(href='#') beds
                            .box-link-menu_list
                                a.link-menu_list(href='#') cabinet furniture
                            .box-link-menu_list
                                a.link-menu_list(href='#') commode
                .container-wrapper-portfolio
                    .container-wrapper-portfolio_box
                        .container-portfolio
                            a(href="#").container-portfolio_img-txt.popup-portfolio.parallax(data-speed='10')
                                .container-portfolio-img
                                    img(src="img/product/img2.jpg" alt="").container-portfolio_img
                                .container-portfolio_txt.parallax(data-speed='8')
                                    .container-portfolio_txt-prod beds
                                    .container-portfolio_txt-link Scandi
                        .container-portfolio
                            a(href="#").container-portfolio_img-txt.popup-portfolio.parallax(data-speed='4')
                                .container-portfolio-img
                                    img(src="img/product/img3.jpg" alt="").container-portfolio_img
                                .container-portfolio_txt.parallax(data-speed='8')
                                    .container-portfolio_txt-prod chairs
                                    .container-portfolio_txt-link Scandi

                    .container-wrapper-portfolio_box
                        .container-portfolio
                            a(href="#").container-portfolio_img-txt.popup-portfolio.parallax(data-speed='10')
                                .container-portfolio-img
                                    img(src="img/product/img4.jpg" alt="").container-portfolio_img
                                .container-portfolio_txt.parallax(data-speed='8')
                                    .container-portfolio_txt-prod tables
                                    .container-portfolio_txt-link Scandi
                        .container-portfolio
                            a(href="#").container-portfolio_img-txt.popup-portfolio.parallax(data-speed='4')
                                .container-portfolio-img
                                    img(src="img/product/img5.jpg" alt="").container-portfolio_img
                                .container-portfolio_txt.parallax(data-speed='8')
                                    .container-portfolio_txt-prod tables
                                    .container-portfolio_txt-link Stockgolm

                    .container-wrapper-portfolio_box
                        .container-portfolio
                            a(href="#").container-portfolio_img-txt.popup-portfolio.parallax(data-speed='10')
                                .container-portfolio-img
                                    img(src="img/product/img6.jpg" alt="").container-portfolio_img
                                .container-portfolio_txt.parallax(data-speed='8')
                                    .container-portfolio_txt-prod beds
                                    .container-portfolio_txt-link Scandi
                        .container-portfolio
                            a(href="#").container-portfolio_img-txt.popup-portfolio.parallax(data-speed='4')
                                .container-portfolio-img
                                    img(src="img/product/img7.jpg" alt="").container-portfolio_img
                                .container-portfolio_txt.parallax(data-speed='8')
                                    .container-portfolio_txt-prod chairs
                                    .container-portfolio_txt-link Scandi

                    .container-wrapper-portfolio_box
                        .container-portfolio
                            a(href="#").container-portfolio_img-txt.popup-portfolio.parallax(data-speed='10')
                                .container-portfolio-img
                                    img(src="img/product/img8.jpg" alt="").container-portfolio_img
                                .container-portfolio_txt.parallax(data-speed='8')
                                    .container-portfolio_txt-prod commode
                                    .container-portfolio_txt-link Scandi
                        .container-portfolio
                            a(href="#").container-portfolio_img-txt.popup-portfolio.parallax(data-speed='4')
                                .container-portfolio-img
                                    img(src="img/product/img9.jpg" alt="").container-portfolio_img
                                .container-portfolio_txt.parallax(data-speed='8')
                                    .container-portfolio_txt-prod tables
                                    .container-portfolio_txt-link Stockgolm


